@import '../../variables';

.Header {
  background-image: url(../../images/pattern-bg.png);
  position: relative;

  &Container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &Heading {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    margin: 2rem 0;
  }

  &Form {
    display: flex;
    width: 100%;
    height: 7rem;
    margin-bottom: 28rem;

    @include respond(phone) {
      width: 60rem;
      margin-bottom: 15rem;
    }

    & > * {
      cursor: pointer;
      display: block;
      border: none;

      &:focus {
        outline: none;
      }
    }

    & input {
      flex: 1;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      font-size: 1.8rem;
      padding-left: 2rem;
    }

    & button {
      background-color: #000000;
      width: 7rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;

      &:hover {
        background-color: #1f1f1f;
      }
    }
  }

  &Body {
    width: 90%;
    height: 40rem;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    bottom: -40%;
    z-index: 10000;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

    @include respond(mid) {
      width: 80%;
    }

    @include respond(phone) {
      flex-flow: row;
      padding: 5rem;
      align-items: flex-start;
      height: auto;
    }
  }

  &Items {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 15%;

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include respond(phone) {
        margin-bottom: 0;
      }
    }

    &:not(:first-child) {
      @include respond(phone) {
        border-left: 1px solid var(--dark-gray);
        height: 10rem;
        padding-left: 2rem;
      }
    }

    @include respond(phone) {
      flex: 1;
      align-items: flex-start;
      height: 100%;
    }

    & p {
      color: var(--dark-gray);
      font-weight: 700;
    }

    & h3 {
      color: var(--very-dark-gray);
      text-align: center;

      @include respond(phone) {
        text-align: left;
      }
    }
  }
}
